*.pyc
__pycache__/
.vscode/
.idea/
*.log
*.pth
*.ckpt
*.pt
*.npy
*.npz
*.zip
*.tar.gz
.DS_Store

*/data_indexes/*
Meta-Llama-3-8B-Instruct-HF/
prosim_env/
outputs/
.prosim/
demo_dataset/trajdata_cache/carla_*/
*.bak.*
demo_dataset/trajdata_cache/data_indexes/